*{
    padding :0;
    margin :0;
}

body{
    background-image: url("https://img.freepik.com/free-vector/abstract-blue-violet-light-line-slash-dark-grey-blank-space-design-modern-futuristic-background_104237-144.jpg?size=626&ext=jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    color: antiquewhite;
    margin-left:630px;
    margin-top: 150px;
    
}

#form{
    margin-left: 550px;
}

#text{
    height: 40px;
    width:300px;
    text-align: right;
    border-radius: 7px;
    margin-top: 20px;
    background-color: seashell;
    color:black;
    font-size: 18px;

}

input{
    height:45px;
    width:45px;
    margin:10px;
    background-color: rgba(0, 0, 0, 0.342);
    color:white;
    font-size: large;
   

}
#first{
    margin-left: 20px;

    
}

#table{
    background-color: rgb(87, 86, 85);
    border-radius: 7px;
}
